<mat-dialog-content class="mat-typography">
  <div *ngIf="attributeValues.length > 0">
    <p style="font-weight: bold;">Admitted values:</p>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <ng-container matColumnDef="select">
        <th style="padding: 10px;" mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td style="padding: 10px;" mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="attributes">
        <th mat-header-cell *matHeaderCellDef> Attributes </th>
        <td mat-cell *matCellDef="let element"> {{element.attributes}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="occurrences">
        <th mat-header-cell style="text-align:center; padding: 10px;" *matHeaderCellDef> Occurrences </th>
        <td mat-cell style="text-align:center; padding: 10px;" *matCellDef="let element"> {{element.occurrences}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <h4 *ngIf="attributeValues.length <= 0">No data available</h4>
</mat-dialog-content>
