<div *ngIf="!isAdmin">
  <h3>Unprivileged users have no access to privacy analysis/filtering!</h3>
</div>
<div *ngIf="isAdmin">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Privacy Filtering">
      <div style="height: 10px">
        &nbsp;
      </div>

      <p style="color: #000000">Select the privacy technique:</p>

      <mat-action-list style="height: 270px; overflow-y: auto;">
        <mat-list-item  style="max-height: 75px" (click)="openPrivacyRoles()">
          <img src="../../../assets/img/users.svg" style="height: 55px" /> &nbsp; Privacy-aware Role Mining
        </mat-list-item>
        <mat-list-item  style="max-height: 75px" (click)="openPrivacyComponent()">
          <img src="../../../assets/img/privacy_component.svg" style="height: 55px" /> &nbsp; Connector Method for Privacy
        </mat-list-item>
        <mat-list-item  style="max-height: 75px" (click)="openPrivacyTLKC()">
          <img src="../../../assets/img/tlkc.svg" style="height: 55px" /> &nbsp; TLKC Method for Privacy
        </mat-list-item>
      </mat-action-list>
    </mat-tab>
  </mat-tab-group>
</div>
