<div class="mat-elevation-z0">
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows matSort>
    <ng-container matColumnDef="caseId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Molde Id </th>
      <td mat-cell *matCellDef="let case"> {{case.caseId}} </td>
    </ng-container>
    <ng-container  matColumnDef="caseDuration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Case duration(in sec)</th>
      <td mat-cell *matCellDef="let case"> {{ case.caseDuration }} </td>
    </ng-container>
    <ng-container  matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start time</th>
      <td mat-cell *matCellDef="let case"> {{ case.startTime * 1000 | date:'medium'}} </td>
    </ng-container>
    <ng-container  matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End time</th>
      <td mat-cell *matCellDef="let case"> {{ case.endTime * 1000  | date:'medium'}} </td>
    </ng-container>

    <!-- Expanded Content Column -->
    <ng-container matColumnDef="expandedDetail-events">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <div class="timeline">
              <div *ngFor="let event of events" class="timeline--contents">
                <div class="timeline__header">
                  <div class="timeline__header__marker" [style.color]="event['color']">
                      <i class="material-icons md-18">lens</i>
                  </div>
                  <div class="timeline__header__title">{{ event["concept:name"] }}</div>
                </div>
                <div class="timeline__description">
                    <p> Transition: {{ event["lifecycle:transition"] }}<br>
                        Resource: {{ event["org:resource"] }}<br>
                        Timestamp: {{ event["time:timestamp"] }}<br>
                        concept:instance: {{ event["concept:instance"] }}<br>
                        Group: {{ event["org:group"] }}
                    </p>
                </div>
              </div>
            </div>
<!--            <ol class="timeline">-->
<!--              <li *ngFor="let event of events">-->
<!--                <div class="activity-icon-color" [style.background-color]="event['color']"></div>-->
<!--                <p class="activity-name">{{ event["concept:name"] }}</p>-->
<!--                <div class="activity-description">-->
<!--                  <p>Transition: {{ event["lifecycle:transition"] }}</p>-->
<!--                  <p>Resource: {{ event["org:resource"] }}</p>-->
<!--                  <p>Timestamp: {{ event["time:timestamp"] }}</p>-->
<!--                  <p>concept:instance: {{ event["concept:instance"] }}</p>-->
<!--                  <p>Group: {{ event["org:group"] }}</p>-->
<!--                </div>-->
<!--              </li>-->
<!--            </ol>-->
          </div>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element; onClickEventByCaseId(element.caseId)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail-events']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>
