<div style="height: 100px">
  Arcs threshold:
  <mat-slider min="-1.00" max="1.00" step="0.005" [value]="arcsThreshold" (change)="changeSelectedArcValue($event)"></mat-slider>
  Metric selection:
  <mat-select placeholder="Metric" [(value)]="metric" (selectionChange)="metricChanged($event)">
    <mat-option value="pd_handover">Handover of Work</mat-option>
    <mat-option value="pd_workingtogether">Working Together</mat-option>
    <mat-option value="pd_subcontracting">Subcontracting</mat-option>
    <mat-option value="pd_jointactivities">Joint Activities</mat-option>
  </mat-select>
</div>
<div>
<iframe [src]="snaContent" style="width: 1300px; height: 5000px;" frameBorder="0"></iframe>
</div>
