<!-- Navbar (Header) Starts -->
<nav class="header-navbar navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle d-lg-none float-left" data-toggle="collapse" (click)="toggleSidebar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="d-lg-none navbar-right navbar-collapse-toggle">
                <a class="open-navbar-container" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent">
                    <i class="ft-more-vertical"></i>
                </a>
            </span>
            <!-- here the filters badges shall go -->
           
        </div>
        <div class="navbar-container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
                <ul class="navbar-nav">
                    <li class="nav-item mr-2  d-none d-lg-block" *ngIf="!isPlistPage">
                        <mat-chip-list #chipList>
                            <mat-chip placement="bottom" [ngbTooltip]="tooltipValue(filter)" style="cursor:pointer"  (click)="filterService.remove(filter)" *ngFor="let filter of filters" [selectable]="true"
                                      [removable]="true" (removed)="filterService.remove(filter)">
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Activity'">
                                    <i class="ft-activity mr-2"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Complexity'">
                                    <i class="fa fa-list mr-2" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Subcontracting'">
                                    <i class="ft-users mr-2" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Mold Area'">
                                    <i class="fa fa-area-chart mr-2" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Material Type'">
                                    <i class="ft-stop-circle mr-2"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'N. Cavities'">
                                    <i class="fa fa-sort-numeric-asc mr-2" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Geometry Dimensions'">
                                    <i class="fa fa-square mr-2" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Dateframe'">
                                    <i class="ft-calendar mr-2"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Price'">
                                    <i class="fa fa-money mr-2" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Molde'">
                                    <i class="fa fa-diamond mr-2" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Part'">
                                    <i class="fa fa-puzzle-piece mr-2" aria-hidden="true"></i>
                                </span>
                                {{filterCorrespondence[filter[0]]}}&nbsp;&nbsp;
                                <i class="ft-delete font-medium-3 blue-grey darken-4"></i>
                                <!--<span *ngIf="filterCorrespondence[filter[0]] == 'Start act.'">
                                    <i class="ft-corner-up-right mr-2"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'End act.'">
                                    <i class="ft-corner-up-left mr-2"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Paths'">
                                    <i class="ft-navigation mr-2"></i>
                                </span>
                                <span *ngIf="filterCorrespondence[filter[0]] == 'Performance'">
                                    <i class="ft-command mr-2"></i>
                                </span>-->
                                <!--<span *ngIf="filterCorrespondence[filter[0]] == 'Variants'">
                                    <i class="ft-target mr-2"></i>
                                </span>-->
                            </mat-chip>

                            <mat-chip placement="bottom" ngbTooltip="Delete all Filters" *ngIf="filters.length > 1" style="cursor:pointer"  (click)="filterService.remove(null)" [selectable]="true">
                                <i class="ft-trash font-medium-3 blue-grey darken-4"></i>                                
                            </mat-chip>

                        </mat-chip-list>
                    </li>
                    <li class="nav-item mr-2  d-none d-lg-block">
                        <a href="javascript:;" class="nav-link" id="navbar-select-log" (click)="goToHome()">
                            <i class="ft-grid font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">select log</p>
                        </a>
                    </li>
                    <li class="nav-item mr-2  d-none d-lg-block" *ngIf="enableUpload && isPlistPage">
                        <a href="javascript:;" class="nav-link" id="navbar-upload-log" (click)="uploader.click()">
                            <i class="ft-arrow-up font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">upload log</p>
                        </a>
                    </li>
                    <li class="nav-item" ngbDropdown [placement]="placement" *ngIf="enableDownload && isProcessModelPage">
                        <a class="nav-link position-relative" id="downloadSomething" ngbDropdownToggle>
                            <i class="ft-arrow-down font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">Download</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="text-left">
                            <a class="dropdown-item" href="javascript:;" (click)="downloadXES()">
                                <i class="ft-arrow-down mr-2"></i>
                                <span>Download XES</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="downloadCSV()">
                                <i class="ft-arrow-down mr-2"></i>
                                <span>Download CSV</span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item" ngbDropdown [placement]="placement" *ngIf="isProcessModelPage">
                        <a class="nav-link position-relative" id="options" ngbDropdownToggle>
                            <i class="ft-octagon font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">Options</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="text-left">
                            <mat-checkbox [(checked)]="enableSmartFiltering" (change)="changeSmartFiltering()">Enable Smart Filtering</mat-checkbox>

                        </div>
                    </li>
                    <li class="nav-item" *ngIf="isProcessModelPage">
                        <a class="nav-link position-relative" href="javascript:;" (click)="showFilters()">
                            <i class="ft-filter font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">Filtering</p>
                        </a>
                        <!--<div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="text-left">
                            <a class="dropdown-item" href="javascript:;" (click)="timeframeFilter()">
                                <i class="ft-calendar mr-2"></i>
                                <span>Dateframe Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="attributesFilter(0, 'activity', 'Activity')">
                                <i class="ft-activity mr-2"></i>
                                <span>Activity Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="attributesFilter(1, 'complexity', 'Complexity')">
                                <i class="fa fa-list mr-2"></i>
                                <span>Complexity Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="attributesFilter(2, 'subcontracting', 'Subcontracting')">
                                <i class="ft-users mr-2"></i>
                                <span>Subcontracting Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="attributesFilter(3, 'molde_area', 'Molde Area')">
                                <i class="fa fa-area-chart mr-2"></i>
                                <span>Molde Area Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="attributesFilter(4, 'material_type', 'Material Type')">
                                <i class="ft-stop-circle mr-2"></i>
                                <span>Material Type Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="attributesFilter(5, 'cavities', 'Cavities Number')">
                                <i class="fa fa-sort-numeric-asc mr-2" aria-hidden="true"></i>
                                <span>Cavities Number Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="attributesFilter(6, 'geometry', 'Geometry Dimensions')">
                                <i class="fa fa-square mr-2"></i>
                                <span>Geometry Dimensions Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="numericAttributeFilter()">
                                <i class="fa fa-money mr-2" aria-hidden="true"></i>
                                <span>Price Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="performanceFilter()">
                                <i class="ft-command mr-2"></i>
                                <span>Performance Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="endActivitiesFilter()">
                                <i class="ft-corner-up-left mr-2"></i>
                                <span>End Activities Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="variantsFilter()">
                                <i class="ft-target mr-2"></i>
                                <span>Variants Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="startActivitiesFilter()">
                                <i class="ft-corner-up-right mr-2"></i>
                                <span>Start Activities Filter</span>
                            </a>
                            <a class="dropdown-item" href="javascript:;" (click)="pathsFilter()">
                                <i class="ft-navigation mr-2"></i>
                                <span>Paths Filter</span>
                            </a>
                        </div>-->
                    </li>
                    <li class="nav-item mr-2  d-none d-lg-block">
                        <a href="javascript:;" class="nav-link" id="navbar-fullscreen" appToggleFullscreen (click)="ToggleClass()">                            
                            <i class="fe {{toggleClass}} font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">fullscreen</p>
                        </a>
                    </li>
                    <!--<li class="nav-item" ngbDropdown [placement]="placement">
                        <a class="nav-link position-relative" id="dropdownLang" ngbDropdownToggle>
                            <i class="ft-flag font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">Language</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownLang" class="dropdownLang text-left">
                            <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('en')">
                                <img src="./assets/img/flags/us.png" alt="English" class="langimg">
                                <span>English</span>
                            </a>
                            <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('es')">
                                <img src="./assets/img/flags/es.png" alt="Spanish" class="langimg">
                                <span>Spanish</span>
                            </a> 
                            <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('pt')">
                                <img src="./assets/img/flags/br.png" alt="Portuguese" class="langimg">
                                <span>Portuguese</span>
                            </a> 
                            <a class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage('de')">
                                <img src="./assets/img/flags/de.png" alt="German" class="langimg">
                                <span>German</span>
                            </a>                            
                        </div>
                    </li>-->
                    <!--<li class="nav-item" ngbDropdown [placement]="placement">
                        <a class="nav-link position-relative" id="dropdownBasic2" ngbDropdownToggle>
                            <i class="ft-bell font-medium-3 blue-grey darken-4"></i>
                            <span class="notification badge badge-pill badge-danger">4</span>
                            <p class="d-none">Notifications</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="notification-dropdown">
                            <div class="noti-list" [perfectScrollbar]>
                                <a class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4">
                                    <i class="ft-bell info float-left d-block font-large-1 mt-1 mr-2"></i>
                                    <span class="noti-wrapper">
                                        <span class="noti-title line-height-1 d-block text-bold-400 info">New Order Received</span>
                                        <span class="noti-text">Lorem ipsum dolor sit ametitaque in, et!</span>
                                    </span>
                                </a>
                                <a class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4">
                                    <i class="ft-bell warning float-left d-block font-large-1 mt-1 mr-2"></i>
                                    <span class="noti-wrapper">
                                        <span class="noti-title line-height-1 d-block text-bold-400 warning">New User Registered</span>
                                        <span class="noti-text">Lorem ipsum dolor sit ametitaque in </span>
                                    </span>
                                </a>
                                <a class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4">
                                    <i class="ft-bell danger float-left d-block font-large-1 mt-1 mr-2"></i>
                                    <span class="noti-wrapper">
                                        <span class="noti-title line-height-1 d-block text-bold-400 danger">New Order Received</span>
                                        <span class="noti-text">Lorem ipsum dolor sit ametest?</span>
                                    </span>
                                </a>
                                <a class="dropdown-item noti-container py-3">
                                    <i class="ft-bell success float-left d-block font-large-1 mt-1 mr-2"></i>
                                    <span class="noti-wrapper">
                                        <span class="noti-title line-height-1 d-block text-bold-400 success">New User Registered</span>
                                        <span class="noti-text">Lorem ipsum dolor sit ametnatus aut.</span>
                                    </span>
                                </a>
                            </div>
                            <a class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1">Read All Notifications</a>
                        </div>
                    </li>-->
                    <li class="nav-item" ngbDropdown [placement]="placement">
                        <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
                            <i class="ft-user font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">User Settings</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="text-left">                           
                            <!--<a class="dropdown-item py-1" routerLink="/pages/profile">
                                <i class="ft-edit mr-2"></i>
                                <span>My Profile</span>
                            </a>
                            <a class="dropdown-item py-1" routerLink="/inbox">
                                <i class="ft-mail mr-2"></i>
                                <span>My Inbox</span>
                            </a>
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-settings mr-2"></i>
                                <span>Settings</span>
                            </a>-->
                            <!--<div class="dropdown-divider"></div>-->
                            <a class="dropdown-item" href="javascript:;" (click)="logout()">
                                <i class="ft-power mr-2"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                    <!--<li class="nav-item d-none d-lg-block">
                        <a class="nav-link position-relative notification-sidebar-toggle" (click)="toggleNotificationSidebar();">
                            <i class="ft-align-left font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">Notifications Sidebar</p>
                        </a>
                    </li>-->
                   
                </ul>
            </div>
        </div>
    </div>
</nav>
<input hidden id="inputUploadLog" type="file" #uploader
       (change)="uploadFile($event)"/>
<!-- Navbar (Header) Ends -->
