<div class="filters-container" id="filtersContainer">
    <mat-sidenav-container class="example-container" [hasBackdrop]="false">
      <mat-sidenav #sidenav class="sidebar" mode="over" position="end" [disableClose]="true">
                   <mat-accordion #accordion multi>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="ft-calendar mr-2"></i>
                            Dateframe Filter
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <app-timeframe-filter></app-timeframe-filter>
                    </mat-expansion-panel>

                      <mat-expansion-panel *ngFor="let numericFilter of numericFilters" style="justify-content: center;
                      display: flex;
                      flex-direction: column;">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              <i [class]="numericFilter.icon"></i>
                            {{numericFilter.name}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-numeric-attribute-filter [type]=numericFilter.type [name]="numericFilter.name" [attribute]="numericFilter.attribute"></app-numeric-attribute-filter>
                      </mat-expansion-panel>

                    <mat-expansion-panel *ngFor="let filter of filters">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <i [class]="filter.icon"></i>
                          {{filter.name}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <app-attributes-filter [type]=filter.type [name]="filter.name" [attribute]="filter.attribute"></app-attributes-filter>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <mat-dialog-actions align="center">
                    <mat-chip (click)="clearAllFilters()">Clear</mat-chip>
                    &nbsp;&nbsp;
                    <mat-chip (click)="applyFiltersToProcess()">Apply</mat-chip>
                    &nbsp;&nbsp;
                  </mat-dialog-actions>
      </mat-sidenav>   
    </mat-sidenav-container>
</div>