@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.mat-chip:focus, .mat-chip:active:focus, .mat-chip:active:focus {
  outline: none !important;
}

.mat-grid-list {
  height: 100%;
}

.mat-toolbar.mat-toolbar-single-row{
  margin: 0;
  padding: 0;
  height: fit-content;
  background-color: #ffffff00
}

.vertical-divider {
  border-left: 1px solid rgba(244, 244, 244, 0.46);
  background: #828282;
  width: 1px;
  margin-left: 30px;
  margin-right: 30px;
  height: 30px;
}

.horizontal-divider {
  border-left: 1px solid rgba(244, 244, 244, 0.46);
  background: #828282;
  width: 15px;
  margin-left: 15px;
  margin-right: 15px;
  height: 1px;
}

.filters-container {
  display: inline-flex;
  top: 0;
  left: 65%;
  right: 0;
  position: fixed;
  height: -webkit-fill-available;
}

.example-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: contents !important;
  background-color: #f5f7fa;
  //background: #eee;
}

.sidebar {
  //position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f7fa;
  display: contents !important;
}

.mat-drawer {
  display: contents;
}