<mat-radio-group #radioButtons>
    <mat-dialog-content [hidden]="typeNine()" class="mat-typography">
        <mat-radio-button #interval (change)="changeParameters('interval')" value="interval">
            <span style="font-size: 12px;"></span> &nbsp; <input matInput type="number" [max]="maxValue.value" #minValue style="width: 130px; font-size: 12px; border-block: revert" placeholder="Minimal value">
            &nbsp;
            &nbsp;
            <span style="font-size: 12px;"></span> &nbsp; <input matInput type="number" [min]="minValue.value" #maxValue style="width: 130px; font-size: 12px; border-block: revert" placeholder="Maximum value"><br />
        </mat-radio-button>
    </mat-dialog-content>
        <br>
    <mat-dialog-content class="mat-typography">
        <mat-radio-button #oneByOne (change)="changeParameters('oneByOne')" value="oneByOne">
            <span style="font-size: 12px;">Values:</span> &nbsp; <input #multiByComa matInput type="text" [min]="minValue.value" #maxValue style="font-size: 12px; border-block: revert" placeholder="Ex: 1020,2505,..."><br />
        </mat-radio-button>
    </mat-dialog-content>    
</mat-radio-group>
