<mat-toolbar>
  Use slider to select delay:&nbsp;
  <mat-slider min="6.00" max="17.00" step="0.01" [value]="delay" (change)="sliderIsChanged($event)"></mat-slider>
  &nbsp;&nbsp;Or, digit number of days:&nbsp;
  <input id="numberDays" type="number" value="1" class="form-control" style="width:10%">&nbsp;
  <button mat-raised-button (click)="manualInputManagement($event)" color="primary">Simulate</button>
</mat-toolbar>
<div>
  <div id="imageProcessModelImage" class="p-8"></div>
</div>
