<!--Footer Starts-->
<footer>
    <div class="container-fluid">
        <p class="copyright text-center">
                Copyright  &copy;  {{currentDate | date: 'yyyy'}} <a id="pixinventLink" href="http://pads.rwth-aachen.de">RWTH-PADS</a>, <a id="pixinventLink" href="http://fit.fraunhofer.de/process-mining">Fraunhofer FIT</a> and <a id="pixinventLink" href="https://www.ipleiria.pt/estg">IPL ESTG</a>. Powered by <a id="pixinventLink" href="http://pm4py.org">PM4Py</a>.  All rights reserved.
        </p>
        
    </div>
</footer>
<!--Footer Ends-->
