<!--<mat-tab-group #group mat-align-tabs="start" [hidden]="isLoading == true" [selectedIndex]="selected.value" (selectedIndexChange)="populateTable()">
  <mat-tab label="Projection">
    <div id="projectionImageImg" class="p-8"></div>
  </mat-tab>
  <mat-tab label="Table">
    <div id="tableImageImg" class="p-8"></div>
  </mat-tab>
</mat-tab-group>-->
<button #btnProj mat-raised-button (click)="changeView(false, btnProj, btnTable)" color="primary">Projection</button>
&nbsp;&nbsp;
<button #btnTable mat-raised-button (click)="changeView(true, btnProj, btnTable)" color="null">Table</button>
<div [hidden]="divHidden" id="projectionImageImg" class="p-8"></div>
<div [hidden]="!divHidden" id="tableImageImg" class="p-8"></div>
