<div class="variants-explorer--title">
  <span class="variants-explorer--title__process" *ngIf="process">Process: {{ process }}</span>
</div>
<div>
  Variants: <b>{{thisVariantsNumber}}</b>
  Cases: <b>{{thisCasesNumber}}</b>
  Events: <b>{{thisEventsNumber}}</b>
    &nbsp;&nbsp;&nbsp;Simplicity:&nbsp;
    <mat-slider min="-5.0" max="0" step="0.001" [(value)]="simplicity" (change)="sliderIsChanged($event)"></mat-slider>
Decoration:&nbsp;
<mat-radio-group (change)="decorationIsChanged($event)" [value]="decoration">
  <mat-radio-button value="freq">Frequency</mat-radio-button>
  &nbsp;&nbsp;
  <mat-radio-button value="perf">Performance</mat-radio-button>
</mat-radio-group>
<br>
<mat-form-field>
  <mat-label>Type Of Model</mat-label>
    <mat-select placeholder="Type of model" [(value)]="typeOfModel" (selectionChange)="typeOfModelIsChanged($event)" *ngIf="enableProcessModelChoice">
      <mat-option value="dfg">DFG</mat-option>
      <mat-option value="tree">Process Tree (Inductive)</mat-option>
      <mat-option value="inductive">Petri (Inductive)</mat-option>
      <mat-option value="indbpmn" *ngIf="overallEnableBPMN">BPMN (Inductive)</mat-option>
      <mat-option value="heuristics">Heuristics Net</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="enableDownloadModel">
  <button mat-button (click)="downloadModel($event)"><span style="font-size: 10px">Download Petri Net Model</span></button>
  <span *ngIf="enableBpmnDownload">
      <button mat-button (click)="downloadBpmnModel($event)"><span style="font-size: 10px">Download BPMN Model</span></button>
      <button mat-button (click)="visualizeBpmnModel($event)"><span style="font-size: 10px">Visualize BPMN Model</span></button>
    </span>
  <span *ngIf="enableConformanceChecking && overallEnableAlignments">
      <button mat-button routerLink="/real-ws/alignments"><span style="font-size: 10px">Conformance against Visualized Model</span></button>
      <button mat-button (click)="uploader.click()"><span style="font-size: 10px">Upload model for Conformance</span></button>
    </span>
</div>
<!--<div id="imageContainer">
  <div [hidden]="!dotProvided" id="dotProvidedDiv">

  </div>
  <div [hidden]="dotProvided" id="svgWithInnerHtml">

  </div>
</div>-->
<div [hidden]="!dotProvided" id="dotProvidedDiv" class="p-8"></div>

<input hidden type="file" #uploader
       (change)="uploadFile($event)"/>
<button id="openMenuButton" mat-icon-button [matMenuTriggerFor]="appMenu" style="display:none;">
&nbsp;
</button>
<mat-menu id="matMenuButton" #appMenu="matMenu" (close)="onMenuClosed()">
  <button mat-menu-item (click)="openActivityDashboard()">Open activity dashboard</button>
  <button mat-menu-item (click)="applyTracesContaining()">Filter cases containing</button>
  <button mat-menu-item (click)="applyTracesNotContaining()">Filter cases not containing</button>
  <button mat-menu-item (click)="filterLoop()">Filter cases with loops</button>
  <button mat-menu-item (click)="applyTracesStartingWith()" *ngIf="isStartActivity">Filer cases starting with</button>
  <button mat-menu-item (click)="applyTracesEndingWith()" *ngIf="isEndActivity">Filer cases ending with</button>

</mat-menu>
