<div class="graph-traces-container">
  <mat-toolbar>
    <mat-chip-list>
      <mat-chip #chipRef="matChip"
                *ngFor="let category of categoryForVisibility"
                [selectable]="chipsSelectable"
                selected="{{ category.isSelected }}" color="primary"
                id="{{ category.title }}"
                (click)="setVisibleNumberOfTraces(chipRef)">
        {{ category.title }}
      </mat-chip>
    </mat-chip-list>
    <div class="vertical-divider"></div>
    <mat-chip #chipRef="matChip" (click)="showLegend(chipRef)" color="primary">Legend</mat-chip>
  </mat-toolbar>
  <div class="div-custom-padding"></div>
  <mat-divider></mat-divider>
  <div class="div-custom-padding"></div>
  <div class="chart-container" id="chartContainer">
    <!-- chart box -->
    <div class="drag-box" id="chartBox"
         cdkDrag cdkDragBoundary=".chart-container"
         (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)"
         ngResizable
         rzContainment="#chartContainer">
      <div class="drag-box--content">
        <div #chart id="chart"></div>
      </div>
    </div>
    <!-- legend box -->
    <div class="drag-box" id="legendBox"
         cdkDrag cdkDragBoundary=".chart-container"
         (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)"
         ngResizable rzContainment="#chartContainer">
      <div class="drag-box--content">
        <div *ngFor="let event of events">
          <mat-icon [style.color]="eventsForColorMapToShow.get(event)" style="font-size: 18px; display: inline; vertical-align: center;">label</mat-icon>
          <span style="line-height: 1; font-size: 12px">{{ event }}</span>
        </div>
      </div>
    </div>
    <!-- case box -->
    <div class="drag-box" id="caseBox"
         cdkDrag cdkDragBoundary=".chart-container"
         (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)"
         ngResizable rzContainment="#chartContainer">
      <div class="drag-box--content">
        <app-graph-cases [cases]="cases" class="appGraphCases"></app-graph-cases>
      </div>
    </div>
  </div>
</div>
