@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.graph-traces-container {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
}

#chart > div > svg {
  display: inherit;
  top: 0;
  left: 0;
}

#chart > div > svg > g {
  cursor: pointer;
}

.div-custom-padding {
  height: 12px;
}
/*
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  border: 1px solid #c5cdf1;
  color: #3f51b5;
  background-color: #f4f2fd ;
  font-family: "SansSerif";
}

.mat-chip.mat-standard-chip {
  border: 1px solid #BDBDBD;
  color: #616161;
  background-color: #FFFFFF;
  font-family: "SansSerif";
  cursor: pointer;
}*/

.mat-chip:focus, .mat-chip:active:focus, .mat-chip:active:focus {
  outline: none !important;
}

.mat-grid-list {
  height: 100%;
}

.mat-toolbar.mat-toolbar-single-row{
  margin: 0;
  padding: 0;
  height: fit-content;
  background-color: #ffffff00
}

.vertical-divider {
  border-left: 1px solid rgba(244, 244, 244, 0.46);
  background: #828282;
  width: 1px;
  margin-left: 30px;
  margin-right: 30px;
  height: 30px;
}

.horizontal-divider {
  border-left: 1px solid rgba(244, 244, 244, 0.46);
  background: #828282;
  width: 15px;
  margin-left: 15px;
  margin-right: 15px;
  height: 1px;
}

.chart-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: inline-flex;
  display: -ms-inline-flexbox;
  flex-direction: row;
  top: 0;
  right: inherit;
  left: inherit;
  padding: 0 10px 0 10px;
}

.drag-box {
  width: 200px;
  height: 200px;
  padding: 10px 10px 10px 0px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top:0;
  left: 0;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

.drag-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.drag-box--content {
  position: relative;
  left: 0;
  top: 0;
  padding: 10px;
  overflow: auto;
}

.drag-box--handler {
  position: absolute;
  top: 0;
  background-color: #dcdcdc;
  cursor: move;
  width: 100%;
  height: 10px;
}

#chartBox {
  width: fit-content;
  height: fit-content;
  max-height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#legendBox {
  width: fit-content;
  min-width: 200px;
  min-height: 200px;
  position: absolute;
  text-align: left;
  top: 0;
  left: 45%;
  right: 0;
  z-index: 30;
  height: fit-content;
}

#caseBox {
  width: 40%;
  height: fit-content;
  min-height: 200px;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 60%;
  right: 0;
}
