<mat-dialog-content class="mat-typography" style="text-align: center;">
  <form class="form-inline">
    <div class="form-group">
      <ngb-datepicker #d1="ngbDatepicker" name="dp1" [(ngModel)]="model1" (navigate)="date = $event.next"></ngb-datepicker>
      &nbsp;&nbsp;
      <ngb-datepicker #d2="ngbDatepicker" name="dp2" [(ngModel)]="model2" (navigate)="date = $event.next"></ngb-datepicker>
    </div>
  </form>
 
</mat-dialog-content>