.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }

  .horizontal-divider {
    border-left: 1px solid rgba(244, 244, 244, 0.46);
    background: #828282;
    width: 15px;
    margin-left: 15px;
    margin-right: 15px;
    height: 1px;
  }

  form {
    text-align: center;
    justify-content: center;
  }